#components-form-demo-normal-login {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f3f3f4;
  .login-form {
    padding: 35px 35px 11px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    box-shadow:0 0 100px rgba(0, 0, 0, 0.08);
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }
  .link-button {
    color: #1890ff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
  }
  .anticon {
    color: rgba(0, 0, 0, 0.25);
  }
}
