.container {
  height: 100%;
  width: 100%;
  display: flex;
  .sidebar {
    width: 220px;
    background-color: #001529;
    .top-icon {
        text-align: center;
        height: 60px;
        line-height: 60px;
        color: #fff;
        font-size: 32px;
    }
  }
  .main {
    width: calc(100% - 220px);
    padding: 0 15px;
    background-color: #f0f2f5;
  }
  .header {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    background-color: #fff;
    .title {
        font-size: 24px;
        font-weight: 700;
        margin-left: calc(50% - 200px);
    }
  }
  .content {
    margin-top: 15px;
    padding: 15px;
    height: calc(100% - 120px - 15px);
    background-color: #fff;
  }
  .footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  .link-button {
    color: #1890ff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
  }
}
